header {
    background-color: #000;
    padding: 1rem;
    
}

header a {
    color: #fff;
}

header a:link {
    text-decoration: none;
}

footer {
    padding-top: 1rem;
    font-size: 1.25rem;
}

section, nav {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 1rem;
}

.scrollbox {
    max-height: 50rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav ul li {
    list-style-type: none;
    margin-bottom: .5rem;
}

body.container {
    padding: 0;
}