header {
    background-color: #000;
    padding: 1rem;
    
}

header a {
    color: #fff;
}

header a:link {
    text-decoration: none;
}

footer {
    padding-top: 1rem;
    font-size: 1.25rem;
}

section, nav {
    border: 1px solid #E1E1E1;
    border-radius: .5rem;
    padding: 1rem;
}

.scrollbox {
    max-height: 50rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav ul li {
    list-style-type: none;
    margin-bottom: .5rem;
}

body.container {
    padding: 0;
}

.alert {
    padding: .75rem 1.25rem;
    border-radius: .5rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #721c24;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 2px solid #bee5eb;
}

.row:not(:first-child) {
    padding-top: 1rem;
}