# config_local.py
environment = 'ENVIRONMENT'

# Usernames that are allowed to interact with the API
allowed_users = ['USER', 'USER2']

# Symlink the files directory in from a NFS mount.
# nfs_mount_location is set in config_server.py.
nfs_mount_files_dir = True
# Use f5 load balancer. You may need to override the configuration functions to
# work with your environment.
load_balancer = True

# The directory where assets will be stored.
# Path should be relative to the root and should NOT include a trailing slash.
# We use separate site_web_root and site_code_root to make it easy use
# different vhosts for different types of sites and to make it easy to switch
# to the down page.
code_root = '/data/code'
sites_web_root = '/data/atlas/web'
sites_code_root = '/data/atlas/sites'
site_down_path = '/data/code/down'
backup_directory = '/data/backups'

# Default core and profile names for site creation. If you do not set
# default_profile, sites without a profile on POST will do a core install.
default_core = 'drupal'
default_profile = 'express'

# Encryption Key. See https://cryptography.io/en/latest/fernet/ to generate a
# URL-safe base64-encoded 32-byte key.
encryption_key = 'KEY'

# LDAP configuration
ldap_server = 'ldap://URL:PORT'
ldap_org_unit = 'LDAP_OU'
ldap_dns_domain_name = 'dc=DOMAIN,dc=TLD'

# User that orchestration runs as.
ssh_user = 'SSH_USER'
ssh_user_group = 'SSH_USER_GROUP'
webserver_user = 'WEBSERVER_USER'
webserver_user_group = 'WEBSERVER_USER_GROUP'
database_user = 'DATABASE_USER'
load_balancer_user = 'LOAD_BALANCER_USER'
service_account_username = 'SERVICE_ACCOUNT'
service_account_password = 'SERVICE_ACCOUNT_PASSWORD'

# Paths
# Path for mysql command.
mysql_path = 'mysql'

# Google Search Appliance credentials
gsa_host = 'HOSTNAME'
gsa_username = 'USER'
gsa_password = 'PASSWORD'

# Slack integration. Enter URL for channel to post DEV, TEST, and PROD messages
# to. Enter a slack username to have messages from LOCAL go to the specific user.
slack_notify = True
slack_url = 'SLACK_URL'
slack_username = 'SLACK_USERNAME'

######### BETA CONFIG #########
## Notifications
send_notification_emails = True
send_notification_from_email = 'ops@example.com'
email_host = 'smtp.example.com'
email_port = 587
email_use_tls = True
email_username = 'devops@example.com'
email_password = 'PASSWORD'
service_name = 'Drupal by Atlas'
# Currently only used for invalid f5 entries
devops_team = ['ops@example.com']

# Logstash URL for reporting Atlas data
logstash_url = 'http://logstash.example.com:81'
