{% extends "base.html" %}

{% block title %}Atlas for Web Express Administrators{% endblock %}

{% block content %}
<div class="row">
    <section class="columns six">
        <h2>Instances</h2>
        {%- if summaryInstances -%}
        <div class="row">
            <div class="columns six">
                <ul>
                    {% for k,v in summaryInstances.status.items() %}
                    <li><a href="{{ url_for('.index') }}instances/s/{{ k }}">{{ k }}</a>: {{ v }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <p>There are no instances.</p>
        {% endif %}
    </section>
    <section class="columns six">
        <h2>Users</h2>
        {%- if summaryUsers -%}
        <ul>
            {% for k,v in summaryUsers.items() %}
            {%- if k != 'total' -%}
            <li><a href="{{ url_for('.index') }}users/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% else %}
            <li>{{ k }}</a>: {{ v }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no users.</p>
        {% endif %}
    </section>
</div>
<div class="row">
    <section class="columns six">
        <h2>Statistics</h2>
        {%- if summaryStatistics -%}
        <ul>
            {% for k,v in summaryStatistics.items() %}
            <li>{{ k }}: {{ v }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no statistics.</p>
        {% endif %}
    </section>
</div>
{% endblock %}