{% extends "base.html" %}

{% block title %}Atlas for Web Express Administrators{% endblock %}

{% block content %}
<section class="columns six">
    <h2>Instances</h2>
    {%- if summaryInstances -%}
    <ul>
        {% for k,v in summaryInstances.items() %}
        <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no instances.</p>
    {% endif %}
</section>
<section class="columns six">
    <h2>Users</h2>
    {%- if summaryUsers -%}
    <ul>
        {% for k,v in summaryUsers.items() %}
        <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no users.</p>
    {% endif %}
</section>
{% endblock %}