{% extends "base.html" %}

{% block title %}{%- if siteType -%}{{ siteType }}{%-  else -%}All{% endif %} instances{% endblock %}

{% block content %}
{%- if instanceList -%}
<div class="row">
    <div class="columns six">
        <table>
            <th>Path</th>
            <th>Pantheon size</th>
            {% for (i, j) in instanceList %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}