{% extends "base.html" %}

{% block title %}All Instances{% endblock %}

{% block content %}
{%- if summaryInstances -%}
<div class="row">
    <div class="columns six">
        <h3>Pantheon Size</h3>
        <ul>
            {% for k,v in summaryInstances['pantheon_size'].items() %}
            <li><a href="{{ url_for('.index') }}instances/p/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
        <p>Total estimated cost
            <b>{{ "${:,.2f}".format(summaryInstances['cost'] * summaryInstances['cost_multiplier']) }}</b> per year</p>
        <p>Without multiplier of <i>{{ "{0:.2f}%".format(summaryInstances['cost_multiplier'] * 100) }}</i>, cost
            would be
            <b>{{ "${:,.2f}".format(summaryInstances['cost']) }}</b> per year</p>
    </div>
    <div class="columns six">
        <h3>Type</h3>
        <ul>
            {% for k,v in summaryInstances['site_type'].items() %}
            <li><a href="{{ url_for('.index') }}instances/t/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}