{% extends "base.html" %}

{% block title %}{{ instance.instance.path }}{% endblock %}

{% block content %}
{%- if instance -%}
{%- if instance.instance.path -%}
<div class="row">
    <div class="columns twelve">
        <a href="{{ envVars['baseURL'] }}/{{ instance.instance.path }}"
            target="_blank">{{ envVars['baseURL'] }}/{{ instance.instance.path }}</a>
    </div>
</div>
{% endif %}
{%- if instance.instance.status == 'available' -%}
<div class="row">
    <div class="columns twelve">
        <p>The site has not been installed yet.</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="columns four">
        <p><b>Name</b>: {{ instance.statistics.name }}</p>
    </div>
    <div class="columns four">
        <ul>
            <li><b>Days Since Last Edit</b>: {{ instance.statistics.days_since_last_edit }}</li>
            <li><b>Days Since Last Login</b>: {{ instance.statistics.days_since_last_login }}</li>
        </ul>
    </div>
    <div class="columns four">
        <ul>
            <li><b>Total Nodes</b>: {{ instance.statistics.nodes_total }}</li>
            <li><b>Total Beans</b>: {{ instance.statistics.beans_total }}</li>
        </ul>
    </div>
</div>
{% if instance.statistics.bundles %}
<div class="row">
    <div class="columns twelve">
        <h2>Bundles</h2>
        <ul>
            {% for k,v in instance.statistics.bundles.items() %}
            {% if k == 'other' %}
            {% if v %}<li>{{ v }}</li>{% endif %}
            {% else %}
            <li>{{ k }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% if instance.statistics.users %}
<div class="row">
    <div class="columns twelve">
        <h2>Users</h2>
    </div>
</div>
<div class="row">
    <div class="columns six">
        <h3>Site Owners</h3>
        <ul>
            {% for k,v in instance.statistics.users.email_address.items() %}
            {% if k == 'site_owner' %}
            {% for i in v %}
            <li><a href="mailto:{{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="columns six">
        <h3>Content Editors</h3>
        <ul>
            {% for k,v in instance.statistics.users.email_address.items() %}
            {% if k == 'content_editor' %}
            {% for i in v %}
            <li><a href="mailto:{{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}