{% extends "base.html" %}

{% block title %}Themes{% endblock %}

{% block content %}
<div class="row">
    {%- if availableInstances -%}
    <ul>
        {% for sid in availableInstances %}
        <li>{{ envVars['baseURL'] }}/{{ sid }} - <a
                href="{{ envVars['baseURL'] }}/{{ sid }}/user?destination=/admin/people/invite">THIS IS GONNA BE THEMES</a>
        </li>
        {% endfor %}
    </ul>
    {%- else -%}
    <p>There are no available instances.</p>
    {% endif %}
</div>
{% endblock %}
