"""
    atlas.config_servers.py
    ~~~~~~
    Server configuration file for Atlas
"""
# Servers manipulate using Fabric.
SERVERDEFS = {
    'prod': {
        'webservers': [
            'webserver1.example.com',
            'webserver2.example.com',
            'webserver3.example.com',
        ],
        'operations_server': [
            'webserver2.example.com',
        ],
        'database_servers': {
            'master': 'db-master.example.com',
            'slaves': ['db-slave1.example.com', 'db-slave2.example.com', ],
            'port': 3306,
            'user_host_pattern': '127.0.0.0/255.255.255.0'
        },
        'varnish_servers': [
            'varnish1.example.com',
            'varnish2.example.com',
        ],
        'memcache_servers': [
            'memcache1.example.com:port',
            'memcache2.example.com:port',
        ],
    },
    'test': {
        'webservers': [
            'webserver-test1.example.com',
            'webserver-test2.example.com',
            'webserver-test3.example.com',
        ],
        'operations_server': [
            'webserver-test2.example.com',
        ],
        'database_servers': {
            'master': 'db-test-master.example.com',
            'slaves': ['db-test-slave1.example.com', 'db-test-slave2.example.com', ],
            'port': 3306,
            'user_host_pattern': '127.0.0.0/255.255.255.0'
        },
        'varnish_servers': [
            'varnish-test1.example.com',
            'varnish-test2.example.com',
        ],
        'memcache_servers': [
            'memcache-test1.example.com:port',
            'memcache-test2.example.com:port',
        ],
    },
    'dev': {
        'webservers': [
            'webserver-dev1.example.com',

        ],
        'operations_server': [
            'webserver-dev1.example.com',
        ],
        'database_servers': {
            'master': 'db-dev-master.example.com',
            'slaves': ['db-dev-slave1.example.com', 'db-dev-slave2.example.com', ],
            'port': 3306,
            'user_host_pattern': '127.0.0.0/255.255.255.0'
        },
        'varnish_servers': [
            'varnish-dev1.example.com',
            'varnish-dev2.example.com',
        ],
        'memcache_servers': [
            'memcache-dev1.example.com:port',
        ],
    },
    'local': {
        'webservers': ['express.local'],
        'operations_server': ['express.local'],
        'database_servers': {
            'master': 'localhost',
            'port': 3306,
        },
        'varnish_servers': ['localhost'],
        'memcache_servers': ['localhost:11211'],
    },
}

VARNISH_CONTROL_TERMINALS = {
    'prod': 'varnish1.example.com:6082 varnish2.example.com:6082',
    'test': 'varnish-test1.example.com:6082 varnish-test2.example.com:6082',
    'dev': 'varnish-dev1.example.com:6082',
    'local': 'localhost:6082',
}

# See config_local.py for switch.
NFS_MOUNT_LOCATION = {
    'prod': '/path/to/mount',
    'test': '/path/to/mount',
    'dev': '/path/to/mount',
    'local': '/path/to/mount',
}

BASE_URLS = {
    'prod': 'http://www.example.com',
    'test': 'http://www-test.example.com',
    'dev': 'http://www-dev.example.com',
    'local': 'http://express.local',
}

API_URLS = {
    'prod': 'https://atlas.example.com/atlas',
    'test': 'https://atlas-test.example.com/atlas',
    'dev': 'https://atlas-dev.example.com/atlas',
    'local': 'https://inventory.local/atlas',
}

ATLAS_LOGGING_URLS = {
    'local': [],
    'dev': [
        "https://logs.example.com/",
        "/report"
    ],
    'test': [
        "https://logs.example.com/",
        "/report"
    ],
    'prod': [
        "https://logs.example.com/",
        "/report"
    ],
}
