{% extends "base.html" %}

{% block title %}{%- if themeName -%}{{ themeName }}{%-  else -%}All{% endif %}
instances{% endblock %}

{% block content %}
{%- if instanceList -%}
<div class="row">
    <div class="columns twelve">
        <table>
            <th>Name</th>
            {% for (i, j, k, l) in instanceList %}
            <tr>
                <td><a href="{{ url_for('.index') }}instances/{{ i }}">{{ j }}</a>
                  {% if j == 'University of Colorado Boulder' %}
                  <br />Site Owners: {{ k }}
                  <br />{{ l }} Days since last edit
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
