STATLIST.HTML

{% extends "base.html" %}

{% block title %}Instances by Statistic{% endblock %}

{% block content %}
{%- if statBreakdown -%}

<div class="row">

    {%- if statBreakdown.variable_theme_default -%}
    <div class="columns six">
        <h3>Themes</h3>
        <ul>
            {% for k,v in statBreakdown.variable_theme_default.items() %}
            <li><a href="{{ url_for('.index') }}instances/th/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {%- if statBreakdown.nodes_by_type -%}
    <div class="columns six">
        <h3>Nodes by Type</h3>
        <ul>
            {% for k,v in statBreakdown.nodes_by_type.items() %}
          <li><a href="{{ url_for('.index') }}instances/nt/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>

{%- else -%}
<p>There are no instances.</p>
{% endif %}
{% endblock %}
