{% extends "base.html" %}

{% block title %}{%- if bundle -%}{{ bundle }}{%-  else -%}All{% endif %}
instances{% endblock %}

{% block content %}
{%- if statistics_list -%}
<div class="row">
    <div class="columns twelve">
        <p>Total: {{ statistics_list[1] }}</p>
        <table>
            <th>ID</th>
            <th>Bundles</th>
            {% for item in statistics_list[0] %}
            <tr>
                <td><a href="{{ url_for('.index') }}instances/id/{{ item.site }}">{{ item.site }}</a></td>
                <td>
                    <ul>
                        {% for bundle in item.bundles %}
                        <li><a href="{{ url_for('.index') }}instances/b/{{ bundle }}">{{ bundle }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
