{% extends "base.html" %}

{% block title %}All Instances{% endblock %}

{% block content %}
{%- if summaryInstances -%}
<div class="row">
    <div class="columns six">
        {%- if summaryInstances.pantheon_size -%}
        <h3>Pantheon Size</h3>
        <ul>
            {% for k,v in summaryInstances.pantheon_size.items() %}
            <li><a href="{{ url_for('.index') }}instances/p/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
        <h4>Total cost</h4>
        <table>
            <tbody>
                <tr>
                    <td>CU
                        pricing<br /><small><i>{{ "{0:.2f}%".format((1 - summaryInstances.cost_multiplier) * 100) }}
                                discount</i></small>
                    </td>
                    <td>
                        {{ "${:,.2f}".format(summaryInstances.cost * summaryInstances.cost_multiplier) }}
                    </td>
                </tr>
                <tr>
                    <td>Bulk pricing</td>
                    <td>{{ "${:,.2f}".format(summaryInstances.cost )}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {%- if statBreakdown.variable_theme_default -%}
        <h3>Themes</h3>
        <ul>
            {% for k,v in statBreakdown.variable_theme_default.items() %}
            <li><a href="{{ url_for('.index') }}instances/th/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {%- if summaryInstances.site_type -%}
    <div class="columns six">
        {%- if summaryInstances.site_type -%}
        <h3>Type</h3>
        <ul>
            {% for k,v in summaryInstances.site_type.items() %}
            <li><a href="{{ url_for('.index') }}instances/t/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {%- if summaryInstances.major_unit -%}
        <h3>Major Unit</h3>
        <ul>
            {% for k,v in summaryInstances.major_unit.items() %}
            <li><a href="{{ url_for('.index') }}instances/m/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="columns six">
        <h3>Bundles</h3>
        <ul>
            {% for k,v in statBreakdown.bundles.items() %}
            <li><a href="{{ url_for('.index') }}instances/b/{{ k }}">{{ k }}</a>: {{ v }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{%- else -%}
<p>There are no instances.</p>
{% endif %}
{% endblock %}